%section.eleven-oh-announcement.flex-container.full-width
  .eleven-oh-content.flex-container.flex-column.justify-center.flex-start.full-width
    %h1.margin-top0 Introducing Auto DevOps
    %p Now generally available, Auto DevOps is a fully featured CI/CD pipeline that automates the delivery process. Simply commit your code and Auto DevOps does the rest.
    .btn.cta-btn.accent Try GitLab for Free
    %a.learn-more.margin-top20{ href: "/auto-devops", target: "_blank" }
      %p Learn more about AutoDevOps →
  .flex-container.flex-column.justify-center.full-width
    -# %img.dot-oh-image{ src: "/images/concurrent-devops/concurrent-devops.svg" }
