%a.hello-bar.animated{ href: '/webcast/auto-devops' }
  .hello-bar-content
    -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
    %p
      Register to join us live for Release Radar: Auto DevOps on June 27. 
